
$primary-rose: #F72585;
$light-pink: #F725850A;
$secondary-purple: #7209B7;
$secondary-violet: #3A0CA3;
$secondary-blue: #4361EE;
$secondary-cian: #4CC9F0;
$alternative-green: #84F726;
$alternative-yellow: #F79926;
$value-black: #140109;
$value-snow: #F2FBFE;
$value-white: #FFFFFF;
$value-grey: #959595;
$border-light: #E4E2E4;